<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-row class="imgDiv">
                <h2 class="title">Update Ad</h2>
            </div>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="updateAd()">
                <div nz-row>
                    <div class="file-upload-container">
                        <label class="file-upload-label">
                            <input type="file" nz-button nzType="primary" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)"/>
                        </label>
                        <div *ngIf="imagePreview" class="image-preview">
                            <div class="circle-image">
                                <img [src]="imagePreview" alt="Existing Image" class="preview-image"/>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="existingImg" class="image-preview">
                                <div class="circle-image">
                                    <img [src]="existingImg" alt="Existing Image" class="preview-image"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <input nz-input placeholder="Service Name" formControlName="serviceName" class="input-field"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <input nz-input placeholder="Price" formControlName="price" type="number" class="input-field"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <textarea nz-input placeholder="Description" formControlName="description" class="input-field"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <button nz-button class="login-form-button" [nzType]="'primary'">
                    Update Ad
                </button>
            </form>
        </div>
    </div>
</div>
