.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.child {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust as needed */
}

.imgDiv {
    text-align: center;
}

.file-upload-container {
    margin-bottom: 20px;
}

.file-upload-container span {
    display: block;
    text-align: center; /* Center the label */
    margin-bottom: 10px; /* Add margin between label and input */
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 150px; /* Set a fixed height to align vertically */
}

.circle-image {
    margin-left: 80px;
    width: 180px; /* Adjust as needed */
    height: 180px; /* Adjust as needed */
    border-radius: 50%; /* Make the shape circular */
    overflow: hidden;
    border: 1px solid #ccc; /* Add border to the image */
    display: flex; /* Ensure flex container for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}


.preview-image {
    max-width: 100%; /* Ensure image fits within container */
    max-height: 100%; /* Ensure image fits within container */
    display: block;
}

.login-form {
    max-width: 100%;
}

.login-form-button {
    width: 100%;
    background-color: black;
    margin-top: 20px;
}
