.bg {
    background-color: #f8f8f8;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

    .ad-details-container {
        .top-section {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .ad-detail {
                display: flex;
                align-items: flex-start;

                .profile {
                    height: 130px;
                    width: 200px;
                    border-radius: 10px;
                }

                .details {
                    margin-left: 20px;

                    h2 {
                        cursor: pointer;
                        color: #108ee9;
                        margin-bottom: 10px;
                    }

                    h5 {
                        margin-bottom: 5px;
                    }
                }
            }

            .book-service {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                nz-form-item {
                    margin-bottom: 10px;
                }
            }
        }

        .reviews-section {
            margin-top: 20px;

            .review-card {
                margin-top: 20px;
            }
        }
    }
}
