.bg {
    background-color: #f8f8f8;
    padding: 20px;
    max-width: 800px; // Adjust as needed
    margin: 0 auto; // Center the container horizontally

    .ad-details-container {
        .top-section {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .ad-detail {
                display: flex;
                align-items: flex-start;

                .profile {
                    height: 130px;
                    width: 200px;
                    border-radius: 10px;
                }

                nz-col {
                    flex: 1; // Take remaining space
                    margin-left: 20px; // Add some space between the image and details
                }

                h2 {
                    cursor: pointer;
                    color: #108ee9;
                    margin-bottom: 10px; // Add some space below the heading
                }
            }

            .book-service {
                flex: 1; // Take remaining space
                margin-left: 20px; // Add some space between the details and book service section
            }
        }

        .reviews-section {
            margin-top: 20px; // Add some space above the reviews section

            .review-card {
                margin-top: 20px; // Add some space between each review card
            }
        }
    }
}
