.bg {
    background-color: #f8f8f8;
    padding: 20px;
    max-width: 700px; // Decrease the maximum width of the box
    margin: 0 auto; // Center the box horizontally

    .ad-details-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex; // Use flexbox for layout
        flex-direction: column; // Stack elements vertically

        .top-section {
            display: flex; // Use flexbox for layout
            justify-content: space-between; // Put items at the start and end of the container
            align-items: flex-start; // Align items to the top

            .ad-detail {
                width: 50%; // Take up half of the container's width
                padding-right: 20px; // Add some space between sections
            }

            .book-service {
                width: 50%; // Take up half of the container's width
                padding-left: 20px; // Add some space between sections
            }
        }

        .reviews-section {
            margin-top: 20px;
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }
    }
}
