<div *ngIf="!isClientLoggedIn && !isCompanyLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex" class="header" style="background-color: #011531;">
        <div>
            <h2 class="title">Service Booking System</h2>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/home" routerLinkActive="active" class="link">Home</a>
            <a nz-button nzType="link" routerLink="/register" routerLinkActive="active" class="link">Register</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" class="link">Login</a>
        </div>
    </nz-header>
</div>
<div *ngIf="isClientLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex" class="header" style="background-color: #011531;">
        <div>
            <h2 class="title">Service Booking System</h2>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active" class="link">Dashboard</a>
            <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active" class="link">Booking</a>
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active" class="link">Logout</a>
        </div>
    </nz-header>
</div>

<div *ngIf="isCompanyLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex" class="header" style="background-color: #011531;">
        <div>
            <h2 class="title">Service Booking System</h2>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active" class="link">Dashboard</a>
            <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active" class="link">Post Ad</a>
            <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active" class="link">Ads</a>
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active" class="link">Logout</a>
        </div>
    </nz-header>
</div>

<router-outlet></router-outlet>
