<nz-header class="main-header" nz-row nzType="flex" style="background-color: red;">
    <div>
        <h2 style="color: white; padding-left: 10px;">Service Booking System</h2>
    </div>
    <div class="nav-links">
        <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
        <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
        <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</nz-header>

<router-outlet></router-outlet>