<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 class="title">Company Signup</h1>
            </div>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please enter a valid email">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please enter a valid password">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please confirm your password">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="checkPassword"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please enter your name">
                        <input nz-input placeholder="Name" formControlName="name" id="name"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please enter your address">
                        <input nz-input placeholder="Address" formControlName="address" id="address"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please enter a valid phone number">
                        <input nz-input placeholder="Phone" formControlName="phone" id="phone"/>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="submit-button" [nzType]="'primary'">
                    Register
                </button>
                <p class="login-link">Already have an account? <a routerLink="/login">Login now!</a></p>
            </form>
        </div>
    </div>
</div>
