<nz-table style="padding: 30px;" [nzData]="bookedServices" #basicTable [nzPageSize]="20" [nzShowPagination]="'false'">
    <thead>
        <tr>
            <th style="font-weight: bolder; color: #003973;">Service</th>
            <th style="font-weight: bolder; color: #003973;">Date</th>
            <th style="font-weight: bolder; color: #003973;">Status</th>
            <th style="font-weight: bolder; color: #003973;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of basicTable.data">
            <td style="font-weight: 600;">{{booking.serviceName}}</td>
            <td>{{booking.bookDate | date: 'dd/MM/yyyy'}}</td>
            <td style="font-weight: 600;">{{booking.reservationStatus}}</td>
            @if (booking.reservationStatus === 'PENDING') {
                <td style="vertical-align: middle;">please wait for approval</td>
            }
            @else if(booking.reservationStatus === 'REJECTED'){
                <td style="vertical-align: middle;">cannot proceed</td>
            }
            @else {
                @if (booking.paidAmount==-1) {
                    <td><button style="margin-top: 15px;  width: 120px;" nzSize="small" nz-button nzType="primary" nzDanger routerLink="/client/payment/{{booking.id}}/{{booking.adId}}">Pay</button></td>
                }
                @else {
                    <td>
                        Amount paid: Rs.{{booking.paidAmount}}
                        <button style="margin-left: 15px; margin-top: 15px;" nzSize="small" nz-button nzType="primary" nzDanger routerLink="/client/review/{{booking.id}}" *ngIf="booking.reviewStatus==='FALSE'">Review</button>
                    </td>
                }
            }
        </tr>
    </tbody>
</nz-table>