
.container {
    text-align: center;
    margin-top: 50px;
}

.section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button[nz-button] {
    background-color: black;
    color: white;
    border: none;
    margin: 0 10px;
    transition: background-color 0.3s;
    &:hover {
        background-color: rgb(102, 142, 202);
    }
}
