<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-left:55px">Client Signup</h1>
            </div>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid email">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="checkPassword"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid name">
                        <input nz-input placeholder="Name" formControlName="name" id="name"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid lastname">
                        <input nz-input placeholder="Lastname" formControlName="lastname" id="lastname"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid Phone">
                        <input nz-input placeholder="Phone" formControlName="phone" id="phone"/>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
                    Register
                </button>
                Or <a routerLink="/login">login now!</a>
            </form>
        </div>
    </div>
</div>