.bg {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Display ads vertically */
    align-items: center; /* Center ads horizontally */
}

.child {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px; /* Adjust margin between ads */
    max-width: 600px;
    width: 100%;
}

.profile {
    height: 130px;
    width: 200px;
    border-radius: 10px;
}

h2 {
    cursor: pointer;
    color: #108ee9;
    margin-bottom: 10px;
}

h5 {
    margin-bottom: 5px;
}

button {
    margin-left: 10px;
}
