<div class="bg">
    <div nz-row class="heading">
        <h2>Ads</h2>
    </div>
    <div class="child" *ngFor="let ad of ads">
        <div nz-row class="ad-container">
            <div nz-col nzSpan="8">
                <img class="profile" [src]="updateImage(ad.returnedImg)" alt="Ad Image"/>
            </div>
            <div nz-col nzSpan="16">
                <h2>{{ad.serviceName}}</h2>
                <hr>
                <h5>Price: <b>{{ad.price}}</b></h5>
                <h5>Description: <b>{{ad.description}}</b></h5>
                <h5 *ngIf="ad.averageRating === null">Rating: No ratings yet</h5>
                <h5 *ngIf="ad.averageRating !== null">Rating: {{ ad.averageRating }}</h5>
                <hr>
                <div class="actions">
                    <button nzSize="small" nz-button nzType="primary" routerLink="/company/update/{{ad.id}}">Update</button>
                    <button nzSize="small" nz-button nzType="primary" nzDanger (click)="deleteAd(ad.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
