<form nz-form [formGroup]="validateForm" (submit)="searchAdByName()" style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
    <input nz-input placeholder="Enter service to search" nzSize="large" style="width: 20%;" formControlName="service"/>
    <button nz-button nzSize="large" nzType="primary" style="margin-left: 15px;" [disabled]="validateForm.invalid">Search</button>
</form>
<div class="bg" *ngIf="ads.length!=0;">
    <div style="margin-top:10px;" class="child" *ngFor="let ad of ads">
        <div class="row">
            <div class="image-column">
                <img class="profile" [src]="updateImage(ad.returnedImg)" />
            </div>
            <div class="content-column">
                <h2>{{ad.serviceName}}</h2>
                <hr>
                <h5>Price: <b>{{ad.price}}</b></h5>
                <h5>Description: <b>{{ad.description}}</b></h5>
                <h5 *ngIf="ad.averageRating===null">Rating: No ratings yet</h5>
                <h5 *ngIf="ad.averageRating !== null">Rating: {{ ad.averageRating }}</h5>
                <hr>
                <div class="button-container">
                    <button nzSize="small" nz-button nzType="primary" routerLink="/client/ad/{{ad.id}}">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg" *ngIf="ads.length==0;">
    <div *ngIf="ads.length==0" style="margin-top:10px; text-align: center;" class="child"><b>No Ads to show!!!</b></div>
</div>