.parent {
    width: 100%;
    max-width: 600px; /* Reduce the max-width of the box */
    margin: 0 auto;
}


.login-form-button {
    width: 100%;
    background-color: black; /* Change button color to black */
}