<div class="container">
    <div class="header">
        <h2>Create Ad</h2>
    </div>
    <form class="form" [formGroup]="validateForm" (ngSubmit)="postAd()">
        <div class="profile-badge">
            <input type="file" nz-button nzType="primary" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)"/>
            <button nz-button nzShape="circle"></button>
            <label for="upload_profile_image" class="upload-label" *ngIf="selectedFile">
                <img class="profile" [src]="imagePreview" alt="profile"/>
            </label>
        </div>
        <div class="form-group">
            <input nz-input placeholder="Service Name" formControlName="serviceName"/>
        </div>
        <div class="form-group">
            <input nz-input placeholder="Price" formControlName="price" type="number"/>
        </div>
        <div class="form-group">
            <textarea nz-input placeholder="Description" formControlName="description"></textarea>
        </div>
        <button nz-button class="submit-button" [nzType]="'primary'">Add</button>
    </form>
</div>
